.nav_bar {
  width: 100vw;
/* height: 10vh;*/
  height: max(10vh, 100px);
  background-color: black;
  display : flex;
  align-items : center;
  padding-left: 1cm;
  text-align: left;
  font-family: "Arial";
  font-size: 16px;
  color: #ffffff;
}

body
{
    color: #681a1a;
    text-align: left;
    font-family: "Arial";
    font-size: 14px;
    text-colo
    margin: 0;
}

#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd
    margin: 0 auto
    padding-left: 1cm;
}

#container h1
{
    font-size: 20px;
}