body
{
    color: deeppink;
    text-align: center;
}
@font-face {
    font-family: 'gibsonregular';
    src: url('font/gibson-webfont.eot');
    src: url('font/gibson-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/gibson-webfont.woff') format('woff'),
         url('font/gibson-webfont.ttf') format('truetype'),
         url('font/gibson-webfont.svg#gibsonregular') format('svg');
    font-weight: normal;
    font-style: normal;
}