body
{
    color: #333;
    text-align: left;
    font-family: "Arial";
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd
    margin: 0 auto
}

#container h1
{
    font-size: 20px;
}

section, footer {
  background: #1A1E25;
  color: #868c96;
}

footer p {
  padding: 40px 0;
  text-align: center;
}
